@model Inventory.ViewModels.CategoryDetailViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Category Information</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <label>Code:</label>
                    </div>
                    <div class="col-md-8">
                        <p>@Html.DisplayFor(model => model.Category.Code)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Name:</label>
                    </div>
                    <div class="col-md-8">
                        <p>@Html.DisplayFor(model => model.Category.Name)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Sort Order:</label>
                    </div>
                    <div class="col-md-8">
                        <p>@Html.DisplayFor(model => model.Category.SortOrder)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Is Active:</label>
                    </div>
                    <div class="col-md-8">
                        <p>@Html.DisplayFor(model => model.Category.IsActive)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Is Deleted:</label>
                    </div>
                    <div class="col-md-8">
                        <p>@Html.DisplayFor(model => model.Category.IsDeleted)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Created Date:</label>
                    </div>
                    <div class="col-md-8">
                        <p>@Html.DisplayFor(model => model.Category.CreatedDate)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Created User:</label>
                    </div>
                    <div class="col-md-8">
                        <p>@Model.CreatedUserName</p>
                    </div>
                </div>
                @if (Model.Category.UpdatedDate != null)
                {
                    <div class="row">
                        <div class="col-md-4">
                            <label>Updated Date:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.Category.UpdatedDate)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Updated User:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Model.UpdatedUserName</p>
                        </div>
                    </div>
                }
                @if (Model.Category.DeletedDate != null)
                {
                    <div class="row">
                        <div class="col-md-4">
                            <label>Deleted Date:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.Category.DeletedDate)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Deleted User:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Model.DeletedUserName</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Category.ID }, new { @class = "btn btn-dark" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark" })
</p>
