@model Inventory.ViewModels.StockSaleDetailViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container mt-2">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Stock Sale Information</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Stock Sale Number:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.StockSale.StockSaleNo)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Customer:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.StockSale.Customer.Name)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Total Amount:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.StockSale.TotalAmount)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Discount Percent:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.StockSale.DiscountPercent)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Discount Amount:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.StockSale.DiscountAmount)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Net Amount:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.StockSale.NetAmount)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Audit Information</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Created Date:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.StockSale.CreatedDate)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Created By:</label>
                        </div>
                        <div class="col-md-8">
                            <p>@Html.DisplayFor(model => model.CreatedUserName)</p>
                        </div>
                    </div>
                    @if (Model.StockSale.UpdatedDate != null)
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <label>Updated Date:</label>
                            </div>
                            <div class="col-md-8">
                                <p>@Html.DisplayFor(model => model.StockSale.UpdatedDate)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Updated By:</label>
                            </div>
                            <div class="col-md-8">
                                <p>@Html.DisplayFor(model => model.UpdatedUserName)</p>
                            </div>
                        </div>
                    }
                    @if (Model.StockSale.IsDeleted)
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <label>Deleted Date:</label>
                            </div>
                            <div class="col-md-8">
                                <p>@Html.DisplayFor(model => model.StockSale.DeletedDate)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Deleted By:</label>
                            </div>
                            <div class="col-md-8">
                                <p>@Html.DisplayFor(model => model.DeletedUserName)</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Stock Sale Details</h4>
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detail in Model.StockSaleDetails)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => detail.Category.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => detail.Product.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => detail.Quantity)</td>
                                    <td>@Html.DisplayFor(modelItem => detail.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => detail.Amount)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p class="pb-3">
        @Html.ActionLink("Edit", "Edit", new { id = Model.StockSale.ID }, new { @class = "btn btn-dark" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark" })
    </p>
    @using (Html.BeginForm("Delete", "StockSales", new { id = Model.StockSale.ID }, FormMethod.Post))
    {
        <h3>Deleted this Stock Sale.</h3>
        <p>It will undo the stock balance associated with this sale.</p>
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Sale?')">Delete</button>
    }
</div>
