@model PagedList.IPagedList<Inventory.Models.StockSale>

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Stock Sales";
}

<div class="container mt-2">
    <h2 class="mb-4">Stock Sales</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-dark" })
    </p>

    @using (Html.BeginForm("Index", "StockSales", FormMethod.Get))
    {
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="input-group">
                    @Html.TextBox("search", Request.QueryString["search"], new { @class = "form-control", placeholder = "Search by something" })
                    <div class="form-check mt-1 mx-2">
                        @Html.CheckBox("showDeleted", Request.QueryString["showDeleted"] == "true", new { @class = "form-check-input", id = "showDeleted" })
                        <label class="form-check-label" for="showDeleted">Deleted</label>
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-dark mx-2">Search</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Sale No.</th>
                    <th>Customer</th>
                    <th>Products</th>
                    <th>Total Amount</th>
                    <th>Discount Percent</th>
                    <th>Net Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stockSale in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => stockSale.StockSaleNo)</td>
                        <td>@Html.DisplayFor(modelItem => stockSale.Customer.Name)</td>
                        <td>
                            @foreach (var detail in stockSale.StockSaleDetails)
                            {
                                @detail.Product.Name
                                if (!detail.Equals(stockSale.StockSaleDetails.Last()))
                                {
                                    @Html.Raw(", ")
                                }
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => stockSale.TotalAmount)</td>
                        <td>@Html.DisplayFor(modelItem => stockSale.DiscountPercent)</td>
                        <td>@Html.DisplayFor(modelItem => stockSale.NetAmount)</td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = stockSale.ID }, new { @class = "btn btn-dark btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.Count > 0)
    {
        <div class="d-flex justify-content-center black-pagination">
            <ul class="pagination">
                @if (Model.PageNumber != 1)
                {
                    <li class="page-item">
                        @Html.ActionLink("First", "Index", new { page = 1, search = ViewBag.Search, showDeleted = ViewBag.ShowDeleted }, new { @class = "page-link" })
                    </li>
                }
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        @Html.ActionLink("Previous", "Index", new { page = Model.PageNumber - 1, search = ViewBag.Search, showDeleted = ViewBag.ShowDeleted }, new { @class = "page-link" })
                    </li>
                }
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        @Html.ActionLink(i.ToString(), "Index", new { page = i, search = ViewBag.Search, showDeleted = ViewBag.ShowDeleted }, new { @class = "page-link" })
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        @Html.ActionLink("Next", "Index", new { page = Model.PageNumber + 1, search = ViewBag.Search, showDeleted = ViewBag.ShowDeleted }, new { @class = "page-link" })
                    </li>
                }
                @if (Model.PageNumber != Model.PageCount)
                {
                    <li class="page-item">
                        @Html.ActionLink("Last", "Index", new { page = Model.PageCount, search = ViewBag.Search, showDeleted = ViewBag.ShowDeleted }, new { @class = "page-link" })
                    </li>
                }
            </ul>
        </div>
    }
</div>
